# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Django
db.sqlite3
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Django static/media
staticfiles/
media/

# Python packaging
*.egg-info/